mat-sidenav {
  width: 300px;
  background: var(--Branco);
  padding-top: 16px;
}

mat-sidenav-content {
  padding: 16px;
}

mat-nav-list button {
  display: flex;
  align-items: center;
  padding: 0px 16px;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  color: var(--Cinza);
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

mat-list-item {
  margin-bottom: 6px;
}

mat-list-item.active button {
  background-color: var(--Rosa-pink);
  color: var(--Branco);
}

mat-list-item button:hover {
  background-color: var(--Rosa-claro);
}

mat-list-item button:active,
mat-list-item.active button:hover {
  background-color: var(--Rosa);
}

mat-list-item.active {
  font-weight: bold;
}
