<section class="pix-content">
    <article class="qrcode-content">
      <div class="image-qrcode">
        <img src="/assets/images/qrcode.png" alt="Qrcode">
      </div>
      <div class="pix-copia">
        <button mat-raised-button class="enter-button">{{textButton}}</button>
      </div>
    </article>
    <article class="qrcode-info">
      <img
        class="watch-img"
        src="/assets/Watch.png"
        alt="Cronômetro"
      />
      <div class="qrcode-div">
        <span class="qrcode-text"> Este QR code expira em 30 minutos. </span>
        <span class="logos logos-block">
          Ao realizar o pagamento você será informado por e-mail.
        </span>
      </div>
    </article>
  </section>