.footer {
  background-color: var(--Cinza-claro-claro);
  color: var(--Cinza);
  padding: 30px 10px;
  text-align: center;
  border-top: 1px solid var(--Cinza-claro);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-heading {
  font-size: 20px;
  font-weight: bold;
  color: var(--Rosa-pink);
}

.footer-text {
  font-size: 16px;
  color: var(--Cinza);
  margin: 10px 0;
}

.footer-contact {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: var(--Rosa);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact:hover {
  color: var(--Rosa-pink);
}

.footer-contact i {
  margin-right: 8px;
}

.footer-copy {
  font-size: 14px;
  color: var(--Cinza);
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}