<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="footer-heading">Precisa de ajuda?</h2>
      <p class="footer-text">
        Qualquer problema de reembolso, dúvidas ou outros problemas? Estamos aqui para ajudar! Entre em contato conosco.
      </p>
      <a href="https://wa.me/5561993228123" target="_blank" class="footer-contact">
        <i class="fa-brands fa-whatsapp"></i> Fale conosco no WhatsApp
      </a>
    </div>
    <div class="footer-section">
      <p class="footer-copy">© 2025 IOUOne - Todos os direitos reservados</p>
    </div>
  </div>
</footer>
