<mat-toolbar class="nav-content">
    <mat-toolbar-row class="nav-items">
      <button mat-icon-button (click)="toggleSidebar.emit()" class="menu-toggle-button">
        <i class="fa-sharp fa-solid fa-bars"></i>
      </button>
  
      <img src="assets/logo.png" alt="Logo IOU One" class="logo-image">
      <span class="example-spacer"></span>
  
      <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-button" aria-label="Perfil">
        <i class="fa-solid fa-circle-user"></i>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i> Sair
        </button>
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
  