.nav-content {
    background-color: var(--Rosa-claro);
    border-bottom: 1px solid var(--Cinza-claro);
    height: 64px;
    justify-content: center;
    padding: 0 16px;
}

.nav-items {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo-image {
    height: 40px;
    margin-right: 16px;
}

.profile-button {
    font-size: 24px;
    color: var(--Cinza);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
}

.profile-button:hover {
    color: var(--Cinza-ativado); /* Efeito ao passar o mouse */
}

.example-spacer {
    flex: 1 1 auto;
}





