/* .cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 4rem;
  align-items: stretch; Garante que todos os cards da linha tenham a mesma altura
}

@media (max-width: 1400px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1220px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
} */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

