/* Geral */
body {
  margin: 0;
  padding: 0;
  background-color: var(--Background-feed);
  color: var(--Preto);
  font-family: Arial, sans-serif;
}

/* Container principal */
.treino-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--Branco);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.treino-header h1 {
  font-size: 28px;
  color: var(--Rosa-pink);
  margin-bottom: 10px;
  text-align: center;
}

.treino-objetivo {
  font-size: 1.2rem;
  color: var(--Cinza);
  text-align: justify;
}

/* Seções */
.treino-secao {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--Rosa-claro);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.treino-secao h2 {
  font-size: 20px;
  color: var(--Rosa);
  text-align: center;
}

.treino-secao ul {
  list-style-type: none;
  padding: 0;
}

.treino-secao li {
  font-size: 16px;
  padding: 8px 0;
  text-align: center;
}

.back-button {
  background-color: var(--Rosa-pink);
  color: var(--Branco);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
}

.back-button:hover {
  background-color: var(--Rosa);
}

