<!-- <div *ngIf="isLoading" class="loading">
    <p>Carregando treino...</p>
</div>

<div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
</div> -->

<div class="treino-container">
    <!-- Cabeçalho -->
    <div class="treino-header">
      <h1>Treino para Emagrecimento Acelerado</h1>
      <p class="treino-objetivo">
        <strong>Objetivo:</strong> Queima de gordura intensa e rápida.
      </p>
      <p>
        Este treino é ideal para quem deseja perder peso rapidamente e de forma
        sustentável. Combinando exercícios aeróbicos de alta intensidade e circuitos
        que elevam o metabolismo, ele foca na queima de gordura enquanto preserva
        a massa muscular. Através de treinos intervalados e movimentos dinâmicos,
        o corpo continua queimando calorias até após o exercício, promovendo um
        emagrecimento acelerado e eficaz. Além disso, ele melhora a saúde
        cardiovascular e a resistência física.
      </p>
    </div>
  
    <!-- Detalhes -->
    <div class="treino-details">
      <div class="detail-item">
        <strong>Tipo de Treino:</strong>
        <span>Emagrecimento</span>
      </div>
      <div class="detail-item">
        <strong>Exercício:</strong>
        <span>Burpees</span>
      </div>
      <div class="detail-item">
        <strong>Músculo:</strong>
        <span>Corpo inteiro</span>
      </div>
    </div>
  </div>
  