<!-- <div *ngIf="isLoading" class="loading">
  <p>Carregando treino...</p>
</div>

<div *ngIf="errorMessage" class="error">
  <p>{{ errorMessage }}</p>
</div> -->

<div class="treino-container">
    <button class="back-button" (click)="voltar()">
        <i class="fa-regular fa-arrow-left"></i> Voltar
      </button>
  <!-- Cabeçalho -->
  <div class="treino-header">
      <h1>{{ treino.titulo }}</h1>
      <p class="treino-objetivo">
          {{ treino.descricao}}
      </p>
  </div>

  <!-- Estrutura do Treino -->
  <div class="treino-estrutura" >
      <!-- Aquecimento -->
      <div *ngFor="let item of treino.itens" class="treino-secao">
          <h2>{{item.tipoTreino}}</h2>
          <ul>
              <li *ngFor="let exercicio of item.treinoCompleto">
                  {{ exercicio }}
              </li>
          </ul>
      </div>
  </div>
</div>
