.container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: stretch;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 579px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 578px) {
  .container {
    grid-template-columns: 1fr;
  }
}
