<app-header [title]="title"></app-header>
<div class="container-wrapper">
  <app-fitdance-carousel>
    <div
      class="music-card"
      *ngFor="let video of videos"
      (click)="openModal(video.link)"
    >
      <img class="thumbnail" [src]="video.imageUrl" alt="{{ video.title }}" />
      <div class="info">
        <h3 class="title">{{ video.title }}</h3>
        <p class="subtitle">{{ video.artists }}</p>
      </div>
    </div>
  </app-fitdance-carousel>
</div>

<!-- Video Modal -->
<app-video-modal
  *ngIf="showModal"
  [videoLink]="currentVideoLink"
  (close)="closeModal()"
></app-video-modal>
