<mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" [src]="cardImg" alt="{{ textTitle }}" />
      <mat-card-content class="card-text">
        <h1 class="card-title">{{ textTitle }}</h1>
        <p class="text-card">
          {{ textDescription }}
        </p>
        <mat-card-actions>
          <a [routerLink]="[routerDetail, itemId]" class="text-footer">{{ linkName }} ></a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
  