<main class="container">
    <a href="/cadastro/dados" aria-label="Voltar para Dados Pessoais">
      <p><i class="fa-regular fa-arrow-left"></i></p>
    </a>
    <p class="step-text">PASSO 3 DE 5</p>
    <h1 class="welcome-text">Agora, informe seu endereço</h1>
    <p class="instruction-text">Estamos quase lá!</p>
    <p class="instruction-text-text">Preencha o seu endereço para que possamos concluir esta etapa.</p>
  
    <form [formGroup]="dadosForm" class="dados-endereco-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput formControlName="cep" (input)="onCepInput()" maxlength="9" placeholder="XXXXX-XXX" />
            <mat-error *ngIf="dadosForm.get('cep')?.invalid">{{ cepErrorMessage }}</mat-error>
          </mat-form-field>
        
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="endereco" />
          <mat-error *ngIf="dadosForm.get('endereco')?.invalid">{{ enderecoErrorMessage }}</mat-error>
        </mat-form-field>
    
        <div class="separador">
            <mat-form-field class="form-field-half" appearance="outline">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade" />
                <mat-error *ngIf="dadosForm.get('cidade')?.invalid">{{ cidadeErrorMessage }}</mat-error>
            </mat-form-field>
    
            <mat-form-field class="form-field-half" appearance="outline">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="estado">
                <mat-option *ngFor="let estado of estadosBrasileiros" [value]="estado.sigla">
                  {{ estado.nome }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="dadosForm.get('estado')?.invalid">{{ estadoErrorMessage }}</mat-error>
            </mat-form-field>
        </div>
      
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>País</mat-label>
          <input matInput formControlName="pais" />
          <mat-error *ngIf="dadosForm.get('pais')?.invalid">{{ paisErrorMessage }}</mat-error>
        </mat-form-field>
      
        <app-enter-button [textButton]="textButton" [buttonType]="'submit'" [isDisabled]="dadosForm.invalid || isSubmitting"></app-enter-button>
    </form>
</main>
