<main class="login-container">
    <mat-card class="card-login-container">
        <div class="card-content">
            <img src="assets/logo.png" alt="Logo da Iou One" class="logo-image">
            <mat-card-header>
                <mat-card-title class="card-title">Redefinir senha</mat-card-title>
                <mat-card-subtitle class="card-subtitle">Informe o seu email, e a nova senha para redefinir o cadastro</mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content>
            <form [formGroup]="redefinirSenhaForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="redefinirSenhaForm.get('email')?.invalid && redefinirSenhaForm.get('email')?.touched">
                        Informe o e-mail.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="redefinirSenhaForm.get('password')?.invalid && redefinirSenhaForm.get('password')?.touched">
                        A senha é obrigatória.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Confirmar Senha</mat-label>
                    <input matInput type="password" formControlName="confirmPassword">
                    <mat-error *ngIf="redefinirSenhaForm.get('confirmPassword')?.invalid && redefinirSenhaForm.get('confirmPassword')?.touched">
                        A senha é obrigatória.
                    </mat-error>
                </mat-form-field>
                <app-enter-button [textButton]="textButton" buttonType="submit"></app-enter-button>
            </form>
        </mat-card-content>
    </mat-card>
</main>
