<div id="musicCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Adicionando os cards dentro do carrossel -->
      <div class="carousel-item active" *ngFor="let card of musicCards; let i = index">
        <div class="row justify-content-center">
          <div class="col-12 col-md-3">
            <div class="card">
              <img src="{{ card.image }}" class="card-img-top" alt="{{ card.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ card.title }}</h5>
                <p class="card-text">{{ card.artist }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Controles do carrossel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#musicCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#musicCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  